<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.antoniy.gidder"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="net.antoniy.gidder.app.GidderApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity android:name=".activity.SplashScreenActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainMenuActivity">
            <intent-filter >
                <action android:name="net.antoniy.gidder.START_MAIN_MENU_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.AddUserActivity">
            <intent-filter >
                <action android:name="net.antoniy.gidder.START_ADD_USER_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.AddRepositoryActivity">
            <intent-filter >
                <action android:name="net.antoniy.gidder.START_ADD_REPOSITORY_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.SlideActivity">
            <intent-filter >
                <action android:name="net.antoniy.gidder.START_SLIDE_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
